// Custom color scheme
$primary-color: #1f93ff;
$secondary-color: #4ecdc4;
$success-color: #44ce4b;
$danger-color: #ff0000;
$warning-color: #ffaa00;

// Override Chatwoot variables
$color-woot: $primary-color;
$color-body: #1f1f1f;
